$border-primary: 1px solid $primary-color;
$border-secondary: 1px solid $secondary-color;
$border-tertiary: 1px solid $tertiary-color;
$border-highlight: 1px solid $highlight-color;

$border-gray-darker: 1px solid $gray-darker;
$border-gray-dark: 1px solid $gray-dark;
$border-gray: 1px solid $gray;
$border-gray-light: 1px solid $gray-light;
$border-gray-lighter: 1px solid $gray-lighter;
